---
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex h-screen flex-col items-center justify-center space-y-2">
    <Logo />
    <p class="font-extralight uppercase text-white">
      The new home of something AWESOME
    </p>
  </main>
</Layout>
