---
import Logo from "../components/Logo.astro";
import Social from "../components/Social.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="PainlessGG">
  <main class="flex h-screen flex-col items-center justify-center">
    <Logo />
    <p class="text-xs font-extralight uppercase text-white sm:text-base">
      The new home of something AWESOME
    </p>
    <div class="mt-7">
      <Social />
    </div>
  </main>
</Layout>
