<div class="flex items-center">
  <h1 class="text-5xl font-bold uppercase text-white md:text-6xl">Painless</h1>
  <h1
    class="from-goldenrod-yellow to-calypso-orchid bg-gradient-to-br bg-clip-text text-6xl font-black text-transparent md:text-7xl"
  >
    GG
  </h1>
</div>
