<div class="space-x-6 text-xs underline-offset-1 sm:text-base">
  <a
    class="text-[#1DA1F2] hover:underline"
    href="https://twitter.com/painless_gg">@Painless_GG</a
  >
  <a class="text-[#6441A5] hover:underline" href="https://twitch.com/painlessgg"
    >@PainlessGG</a
  >
</div>
